<div>
  <mat-toolbar color="primary">
    <span>
      <mat-icon>mood</mat-icon>
    </span>

    <span>Yay, Twitch Api!</span>
  </mat-toolbar>
  <mat-card *ngIf="!hidden" class="example-card">
    <img src="https://tctechcrunch2011.files.wordpress.com/2015/10/twitch-logo.png" alt="" width="400" height="400">
  </mat-card>
  <mat-card *ngIf="hidden" class="example-card">
    <img mat-card-image [src]="user.logo" alt="Photo of a Shiba Inu">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Display Name" [(ngModel)]="user.display_name" name="display_name">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" [(ngModel)]="user.name" name="name">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Stream Key" name="name" [value]="stream_key">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Created At" [(ngModel)]="user.created_at" name="created_at">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" [(ngModel)]="user.email" name="email">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Bio" [(ngModel)]="user.bio" name="bio"></textarea>
      </mat-form-field>
    </form>
  </mat-card>


  <mat-card>
    <button *ngIf="!hidden" mat-button (click)="login()" color="accent">Login</button>
    <button *ngIf="hidden" mat-raised-button (click)="logout()" color="primary">Logout</button>
    <!-- <button mat-raised-button color="primary" (click)="user()">User</button>
    <button mat-raised-button color="accent" (click)="channel()">Channel</button>-->
  </mat-card>
</div>
